*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* ****************************navbar start **************************/

  .navbar{
      background-color: black;
      width: 100%;
      height: 70px; 
      margin-bottom: 0px;
      position: fixed;
      margin-top: 0;
      
      /* padding: 5px; */
  }

  .navbar-1 img{
    width: 200px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px turquoise;
    
} 
  
  
  .navbar-bg ul li {
      padding : 0 10px ;
  }
  
  .navbar-bg ul li {
      font-size: 15px;
      font-weight: bolder;
    list-style-type: none;}

     
  
  .navbar-bg ul li:hover{
      color: red;
  }

 .nav-item{
     margin-right: 20px;
    
 }
 .navbar-bg ul li a{
     color:turquoise;
 }
 .navbar-bg ul li a:hover{
     color:white;
 }

 .nav-item:hover{
    border-bottom: 2px solid aqua;
    border-top: 2px solid aqua;
    transition: 1s ease-in-out;
    
 }
  /* ****************************navbar end **************************/
  /* ****************************header start **************************/

  .main-header img{
      width: 100%;
      height: 80vh;
      border-radius: 0%;
      margin-top: -2px;
    

  }

 .text{
      border: 1px solid yellow;
      color:turquoise;
      margin-top: -190px;
     
 }

 .text h1 {
     margin-left: 450px;
     font-size: 70px;
     width: 600px;
    
   
 }
 .text p {
    margin-left: 350px;
    width: 590px;
    margin-top: 30px;
   
 }

 /* ****************************header end **************************/
 /* ****************************hero start **************************/


.main-hero-div{
    margin-top: 30px;
}

.heading-1{
    text-align: center;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 5px 15px rgb(106, 247, 200);
}

.hero-row{
    margin-top: 20px;
}

.sub-hero{
     /* border: 1px solid red; */
     width: 350px;
     height: 200px;
     margin-left: 40px;
     margin-bottom: 60px;
     border-radius: 15px;
     box-shadow: 3px 3px 10px gray;
     display: flex;
     flex-direction: row;    
}


.image-box{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 10px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 3px 3px 10px black ;
}

.text-hero{
    margin-top: 50px;
    margin-left: 40px;
}

.hero-row{
    margin-left: 20px;
}
 /* ****************************hero end **************************/
 /* ****************************contact start **************************/
 /* **************************** contact portion start **************************/
/************************ CONTACT SECTION START *******************/
.contact-us{
    margin-top: 70px;
    margin-bottom: 30px;
    width: 100%;
    height: 70vh;
}

.main-contact-div{
    padding: 70px 0;
}

.contact-us .main-heading{
    font-size: 30px;
}

.contact-us .main-hero-para{
    width: 80%;
}

.contact-left-side img{
    width: 80%;
    height: 60%;
    border-radius: 10px;
}

.contact-input{
    margin-bottom: 30px;
}

.contact-us .our-services-button{
     background-color: rgb(52, 51, 131);
     color: white;
}

.contact-us .our-services-button:hover{
    color: rgb(52, 51, 131);
    background-color: white;
}

.form-control{
    /* padding-top: 20px; */
    border-radius: 15px;
}

.our-services-button{
    padding: 5px 10px;
    border: none;
    background-color: rgb(9, 9, 102);
    margin-top: 10px;
    border-radius: 10px ;
}

/************************ CONTACT SECTION END *******************/

 /* ****************************contact end **************************/
 /* ****************************Footer start **************************/
 .footer{
     margin-top: 20px;
    width: 100%;
    background-color: gray;
    display: grid;
    place-items: center;
}

.footer p{
    text-align: center;
    margin-top: 10px;
}

 /* ****************************footer end **************************/

  /* media queries */

 @media (max-width:500px) {
     /* ****************************navbar start **************************/
 body{
     overflow: hidden;
 }
 .navbar-bg{
     width: 100%;
     overflow-x: hidden;
 }
  .navbar{
    background-color: black;
    width: 100%;
    height: 50px; 
    margin-bottom: 0px;
    position: fixed;
    margin-top: 0;
    
    /* padding: 5px; */
}

.navbar-1 img{
  width: 100px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px turquoise;
  
} 


.navbar-bg ul li {
    padding : 0 5px ;
}

.navbar-bg ul li {
    font-size: 15px;
    font-weight: bolder;
  list-style-type: none;}

   

.navbar-bg ul li:hover{
    color: red;
}

.nav-item{
   margin-right: 20px;
  
}
.navbar-bg ul li a{
   color:turquoise;
}
.navbar-bg ul li a:hover{
   color:white;
}

.nav-item:hover{
  border-bottom: 2px solid aqua;
  border-top: 2px solid aqua;
  transition: 1s ease-in-out;
  
}
/* ****************************navbar end **************************/
/* ****************************header start **************************/

.main-header img{
    width: 100%;
    height: 34vh;
    border-radius: 0%;
    margin-top: 50px;
  

}

.text{
    border: 1px solid yellow;
    color:turquoise;
    margin-top: -110px;
    margin-left: -50px;
   
}

.text h1 {
   margin-left: 90px;
   font-size: 30px;
   width: 600px;
  
 
}
.text p {
  margin-left: 60px;
  width: 220px;
  margin-top: 5px;
  font-size: 10px;
 
}

/* ****************************header end **************************/
/* ****************************hero start **************************/


.main-hero-div{
    margin-top: 30px;
    width: 100%;
}

.heading-1{
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 5px 15px rgb(106, 247, 200);
}

.hero-row{
    margin-top: 20px;
    width: 100%;
}

.sub-hero{
     /* border: 1px solid red; */
     width: 200px;
     height: 150px;
     margin-left: 5px;
     margin-bottom: 60px;
     border-radius: 15px;
     box-shadow: 3px 3px 10px gray;
     display: flex;
     flex-direction: row;    
}


.image-box{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 10px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 3px 3px 10px black ;
}

.text-hero{
    margin-top: 30px;
    margin-left: 40px;
}

.hero-row{
    margin-left: 20px;
}
 /* ****************************hero end **************************/
 /************************ CONTACT SECTION START *******************/
.contact-us{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    height: 70vh;
    margin-left: 10px;
}

.main-contact-div{
    padding: 70px 0;
    /*  */
}


.contact-us .main-heading{
    font-size: 20px;
}

.contact-us .main-hero-para{
    width: 60%;
    font-size: 10px;
}

.contact-left-side img{
    width: 200px;
    height: 60%;
    border-radius: 10px;
}

.contact-input{
    margin-bottom: 30px;
}

.contact-us .our-services-button{
     background-color: rgb(52, 51, 131);
     color: white;
}

.contact-us .our-services-button:hover{
    color: rgb(52, 51, 131);
    background-color: white;
}

.contact-right-side{
    margin-top: 100px;
    width: 70%;
    margin: 100px auto 50px  30px ;
}
.form-control{
    /* padding-top: 20px; */
    border-radius: 15px;
}

.our-services-button{
    padding: 5px 10px;
    border: none;
    background-color: rgb(9, 9, 102);
    margin-top: 10px;
    border-radius: 10px ;
}

/************************ CONTACT SECTION END *******************/
/* ****************************Footer start **************************/
.footer{
    margin-top: 600px;
   width: 100%;
   background-color: gray;
   display: grid;
   place-items: center;
}

.footer p{
   text-align: center;
   margin-top: 10px;
}
 }